

:host {
  display: block;
  min-width: 250px;
}
.card-body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.card-body * {
  margin-left: 0;
}

h6.card-subtitle.mb-2.text-muted {
  font-weight: 300;
  font-size: 14px;
}

.card {
  height: 100%;
}
.card-title {
   font-size: 1em;
 }
