:host{
  justify-content: center;
  height: calc(100vh - 56px);
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #00000073;
  }
  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 0 2rem;
    background: #00000040;
  }
  &.about{
    background-color: #0874aa;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      background-image: url("/assets/img/about.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  h2 {
    font-size: 3em;
  }
  p{
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
  }
}

